<div class="componentCont">
    <ng-container *ngIf="!addingPhoto">
        <button (click)="this.backClicked.emit(false)">Retour</button>
        <div>Catégorie : {{annonce.categorie.nom}}</div>
        <img *ngFor="let url of annonce.photosUrl" [src]="url">
        <div>
            <h4>{{annonce.titre}}</h4>
            <div>{{annonce.description}}</div>
            <div>{{annonce.prix}}</div>
            <div>{{annonce.lieu}}</div>
            <div>{{annonce.dateDeCreation}}</div>
        </div>
        <app-auteur [auteur]="annonce.auteur"></app-auteur>
        <button (click)="deleteAnnonce()">Supprimer annonce</button>
        <button (click)="this.addingPhoto = true">Ajouter Photo</button>
    </ng-container>
    <ng-container *ngIf="addingPhoto">

    </ng-container>
</div>