<div class="componentCont">
    <p-dataView [value]="annonces">
        <p-header>
            <div>
                <select (change)="onCategorieChosen($event.target.value)">
                  <option [value]="'all'">Catégories...</option>
                  <option *ngFor="let c of categories" [value]="c.id">{{c.nom}}</option>
                </select>
                <input placeholder="recherche..." (keyup)="onSearchChanged($event.target.value)">
                <button (click)="this.newAnnonceClicked.emit()">Ajouter une annonce</button>
            </div>
        </p-header>
        <ng-template let-a pTemplate="listItem">
            <div (click)="this.annonceClicked.emit(a)">
                <img *ngIf="a.photosUrl.length>0" [src]="a.photosUrl[0]">
                <div>
                    <h4>{{a.titre}}</h4>
                    <div>{{a.description}}</div>
                    <div>{{a.prix}}</div>
                    <div>{{a.lieu}}</div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>