<div class="componentCont">
    <h3>Nouvelle Photo</h3>
    <form #newPhotoForm="ngForm" (ngSubmit)="posterPhoto()">
        <div>
            <label for="titre">Titre</label>
            <input type="text" id="titre" required [(ngModel)]="modelPhoto.titre" name="titre">
        </div>
        <div>
            <label for="file">Fichier</label>
            <input type="file" id="file" required [(ngModel)]="modelPhoto.file" name="file">
        </div>

        <button type="submit" [disabled]="!newPhotoForm.form.valid">Publier</button>


    </form>
</div>