<ng-container *ngIf="!this.addingNewAnnonce">
    <app-list-annonces *ngIf="this.annonceToShow === null" (annonceClicked)="this.annonceToShow=$event" (newAnnonceClicked)="this.addingNewAnnonce = true" #list>
    </app-list-annonces>
    <app-annonce *ngIf="this.annonceToShow !== null" (backClicked)="this.annonceToShow = null; refresh($event)" [annonce]="this.annonceToShow">
    </app-annonce>
</ng-container>
<ng-container *ngIf="this.addingNewAnnonce">
    <app-add-annonce (backToList)="this.addingNewAnnonce = false; refresh($event)"></app-add-annonce>
</ng-container>